@import "colors";

.games {
  display: flex;
  flex-direction: column;
  padding: 70px 110px;
  gap: 30px;

  &__header {
    color: $game_power;
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
